.login-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  padding: 25px;
  border-radius: 50px;
  border: 5px solid var(--clr-medium);
}

.login-content > body {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.login-input {
  line-height: 30px;
  font-size: larger;
  margin: 5px 0px;
  padding: 0px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--clr-dark);
  background-color: var(--clr-medium);
}

.loginInput-label,
.loginInput-label-invalid {
  width: min-content;
  font-size: larger;
  margin: 0px 5px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.loginInput-label {
  border-bottom: 2px solid var(--clr-accent);
}

.loginInput-label-invalid {
  border-bottom: 2px solid var(--clr-destructive);
}

.login-input-invalid::placeholder {
  color: var(--clr-destructive-hover);
}

.login-buttons {
  display: flex;
  justify-content: right;
}

.submitLoginButton-button {
  margin: 0px 5px 0px 5px;
}

.submitLoginButton > .MuiButton-root {
  padding: 6px 12px;
}

.submitLoginButton > .MuiButton-contained {
  color: var(--clr-light);
  background-color: var(--clr-constructive);
}

.submitLoginButton > .MuiButton-contained:hover {
  background-color: var(--clr-constructive-hover);
}

.submitLoginButton-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
