.header {
  position: fixed;
  top: 0;
  width: 90vw;
  min-width: 370px;
  height: 6vh;
  margin: 0px auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-medium);
}

.headerLeft {
  padding: 10px;
}

.toggleTheme-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: max-content;
  width: max-content;
}

.toggleTheme-button > h1 {
  color: var(--txt-dark);
  font-size: var(--fs-h1);
}

.headerRight {
  padding: 10px;
}

.newContactButton > .MuiButton-root {
  padding: 6px 12px;
}

.newContactButton > .MuiButton-contained {
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

.newContactButton > .MuiButton-contained:hover {
  background-color: var(--clr-accent-dark);
}

.newContactButton-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}

.newContactButton-spacer {
  width: 5px;
}

.signUpButton > .MuiButton-root {
  padding: 6px 12px;
}

.signUpButton > .MuiButton-contained {
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

.signUpButton > .MuiButton-contained:hover {
  background-color: var(--clr-accent-dark);
}

.signUpButton-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}

.signUpButton .MuiSvgIcon-root {
  color: #ffffff;
}
